<div class="col-lg-6 col-lg-offset-3" data-ng-controller="SigninController">
	<div class="alert alert-danger" data-ng-show="error">There was a
		problem logging in. Please try again.</div>
	<div role="form" >
		<div class="form-group">
			<label for="username">Username:</label> <input type="text"
				class="form-control" data-ng-model="credentials.username" />
		</div>
		<div class="form-group">
			<label for="password">Password:</label> <input type="password"
				class="form-control" data-ng-model="credentials.password" />
		</div>
		<button type="submit" class="btn btn-primary" data-ng-submit="login()">Submit</button>
	</div>
</div>