
<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
			data-target=".nav-collapse">
			<span class="icon-bar"></span> <span class="icon-bar"></span> <span
				class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Social Network</a>
	</div>
	<div class="navbar-collapse collapse" data-ng-cloak>
		<ul class="nav navbar-nav" data-ng-show="authenticated">
			<li><a href="#/chat">Chats</a></li>
			<li><a href="#/friend">{{'FRIENDS' | translate}}</a></li>
			<li><a href="#/group">Groups</a></li>
			<li><a href="#/profile">Profile</a></li>
			<li><a href="#/search">Search</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#" data-ng-click="changeLocale('en')">English </a></li>
			<li><a href="#" data-ng-click="changeLocale('ru')">Russian </a></li>

			<li data-ng-show="!authenticated"><a href="#/signin">Sign in</a></li>
			<li data-ng-show="!authenticated"><a href="login/github">Sign in with Github</a></li>
			<li data-ng-show="!authenticated"><a href="login/facebook">Sign in with Facebook</a></li>
			<li data-ng-show="!authenticated"><a href="login/linkedin">Sign in with LinkedIn</a></li>
			<li data-ng-show="authenticated"><a href="#" data-ng-click="logout()">Logout</a></li>

		</ul>
	</div>

	<!-- Error message block -->
	<div class="alert-message-at-bottom error" data-ng-class="{true: 'error', false: 'msg'}[notification.error]" 
		data-ng-show="notification.message" >
		<span>{{notification.message}}</span>
	</div>
</div>
