<div ng-controller="FriendController">
	<div class="panel panel-default">
		<div class="panel-heading text-center">
			<span class="medium-font">Friends list</span>
		</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Friend name</th>
						<th>Status</th>
						<th>Chat</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tr id="friend_" data-ng-repeat="friend in friends">
					<td>{{friend.name}}</td>
					<td>{{friend.status}}</td>
					<td><a class="btn btn-info"
						data-ng-show="friend.status == 'ACCEPTED'"
						data-ng-click='goToChat(friend.chatId)'>Go to chat</a></td>
					<td><a class="btn btn-info"
						data-ng-show="friend.status == 'ACCEPTED'"
						data-ng-click='deleteFriend(friend.friendId)'>Delete</a></td>
				</tr>
			</table>
		</div>
	</div>
</div>