<div ng-controller="FriendController">
	<div class="panel panel-default">
		<div class="panel-heading text-center">
			<h2>Friends list</h2>
		</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Friend name</th>
						<th>Status</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tr id="friend_" data-ng-repeat="friend in friends">
					<td>{{friend.name}}</td>
					<td>{{friend.status}}</td>
					<td><a class="btn btn-info" data-ng-if="friend.status == 'ACCEPTED'"
						ng-click='deleteFriend(friend.chatId)'>Delete</a></td>
					<td></td>
				</tr>
			</table>
		</div>
	</div>
</div>