<div ng-controller="ProfileController">
	<div class="panel panel-default">
		<div class="panel-heading text-center">
			<h2>User profile</h2>
		</div>
		<div class="panel-body">
			<form class="form-narrow form-horizontal" >
				<div class="form-group" >
					<label class="col-lg-3 control-label">First name</label>
					<div class="col-lg-7">
						<input type="text" class="form-control" name="firstName"
							data-ng-model="profile.firstName" ng-minlength="3"
							ng-maxlength="10" ng-not-empty /> 
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-3 control-label">Last name</label>
					<div class="col-lg-7">
						<input type="text" class="form-control"
							data-ng-model="profile.lastName" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-3 control-label">City</label>
					<div class="col-lg-7">
						<input type="text" class="form-control"
							data-ng-model="profile.city" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-3 control-label">Country</label>
					<div class="col-lg-7">
						<input type="text" class="form-control"
							data-ng-model="profile.country" />
					</div>
				</div>

				<div class="form-group">
					<label lass="col-lg-3 control-label"> <input type="radio"
						data-ng-model="profile.sex" value="male"> Male
					</label> <label lass="col-lg-3 control-label"> <input type="radio"
						data-ng-model="profile.sex" value="female"> Female
					</label>
				</div>

				<label class="col-lg-3 control-label">Locale</label>
				<div class="col-lg-9">
					<select class="form-control" data-ng-model="profile.locale">

						<option value="{{lang.code}}" selected="selected"
							data-ng-repeat="lang in languaches">{{lang.code}}</option>
						<!--c:forEach items="${profileDto.locales}" var="locale">
                                <c:if test="${not empty locale.getDisplayCountry()}">
                                    <option value="${locale}">${locale.getDisplayCountry()}</option>
                                </c:if>
                            </c:forEach-->
					</select>
				</div>
				<label class="col-lg-3 control-label">Translate</label>
				<div class="col-lg-1">
					<input type="checkbox" class="form-control"
						data-ng-model="profile.translate" />

				</div>
				<pre data-ng-bind="profile|json"></pre>
			</form>
		</div>

		<div class="panel-footer">
			<div class="col-lg-offset-5">
				<a class="btn btn-default" data-ng-click="saveProfile()">Save</a> <a
					class="btn btn-default">Change Password </a>
			</div>
		</div>
	</div>
</div>