<div class="row" id="messageRow" >
    <div class="panel panel-margin" id="message">
        <div class="panel-heading">
            <div class="name-margin" id="ownerName"></div>
            <div class="pull-right remove-margin" id="deleteMessage"
                style="display: none">
                <h6>remove</h6>
            </div>
            <div class=" pull-right edit-margin" id="editMessage"
                style="display: none">
                <h6>edit</h6>
            </div>
        </div>
        <div class="panel-body">
            <div id="messageText"></div>
            <div id="invitation_message" style="display: none">
                <a class="btn btn-info" id="acceptInvitation">Accept</a> <a
                    class="btn btn-info" id="declineInvitation">Decline</a>
            </div>
        </div>
        <div class="panel-footer" id="messageDate"></div>
    </div>
</div>