<div class="panel panel-default">
	<div class="panel-heading text-center">
		<h2>Create group</h2>
	</div>
	<div class="panel-body">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-sm-3 control-label">Group Name</label>
				<div class="col-sm-7">
					<input type="text" data-ng-model="groupName.text" class="form-control" />
				</div>
			</div>
			<div class="form-group text-center">
				<h2>Friends list</h2>
			</div>
			<div class="form-group">
				<table class="table">
					<thead>
						<tr>
							<th></th>
							<th>Friend id</th>
							<th>Friend name</th>
							<th>Friend status</th>
						</tr>
					</thead>
					<tr class="blank_row text-center" data-ng-hide="friends">
						<td colspan="4">No friends</td>
					</tr>
					<tr id="friend_" data-ng-repeat="friend in friends">
						<td><input type="checkbox" data-ng-model="friendsId[$index]"
							ng-false-value="undefined" ng-true-value="{{friend.friendId}}" /></td>
						<td>{{friend.friendId}}</td>
						<td>{{friend.name}}</td>
						<td>{{friend.status}}</td>
					</tr>
				</table>
			</div>
		</form>
	</div>
	<div class="panel-footer">
		<div class="col-lg-offset-5">
			<a class="btn btn-default" ng-click="initGroupsList()">Back</a> 
			<a class="btn btn-default" ng-click="saveGroup()">Save</a>
		</div>
	</div>
</div>
