<div class="panel panel-default">
	<div class="panel-heading text-center">
		<h2>Edit group {{group.name}}, group id: {{group.groupId}}</h2>
	</div>
	<div class="panel-body">
		<table class="table">
			<thead>
				<tr>
					<th>User id</th>
					<th>User name</th>
					<th>Profile</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tr id="groupUser_{{user.userId}}"
				data-ng-repeat="user in group.users">
				<td>{{user.userId}}</td>
				<td>{{user.fullName}}</td>
				<td><a class="btn btn-info" href="#/profile/{{user.userId}}">Profile </a></td>
				<td><a class="btn btn-info" data-ng-if="!user.groupAdmin"
					ng-click="deleteUserFromGroup(group.groupId, user.userId)">Delete
						user</a></td>
			<tr>
		</table>
	</div>
</div>
<br />
<div class="panel panel-default">
	<div class="panel-heading text-center">
		<h2>List of friends</h2>
	</div>
	<div class="panel-body">
		<table class="table">
			<thead>
				<tr>
					<th>User id</th>
					<th>User name</th>
					<th>Profile</th>
				</tr>
			</thead>
			<tr id="groupFriend_{{friend.userId}}"
				data-ng-repeat="friend in friendsNotInGroup">
				<td>{{friend.userId}}</td>
				<td>{{friend.name}}</td>
				<td><a class="btn btn-info" data-ng-click="viewProfile(friend.userId)">Profile</a></td>
				<td><a class="btn btn-info"
					data-ng-click="addUserToGroup(group.groupId, friend.userId)">{{'ADD_USER'
						| translate}}</a></td>
			</tr>
		</table>
	</div>
	<div class="panel-footer">
		<div class="col-lg-offset-5">
			<a class="btn btn-default" ng-click="initGroupsList()">Back</a>
			<a class="btn btn-default" ng-click="initCreateGroup()">CreateGroup</a>
		</div>
	</div>
</div>

