
<div ng-controller="ChatController">
	<div class="row">
		<div class="col-lg-4 pull-left">
			<div class="panel panel-default panel-height">
				<div class="panel-heading text-center">
					<h2>Chat list</h2>
				</div>
				<div class="panel-body">
					<ul class="list-group" id="chatList">
						<li class="list-group-item" data-ng-repeat="chat in chats"
							data-ng-click="getChatMessages(chat.chatId)"><span
							class="label label-default label-pill pull-right">{{chat.newMessages}}</span>
							<div>{{chat.name}}</div></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-8 pull-right">
			<div class="panel panel-default">
				<div class="panel-heading">
					Messages
					<div class="pull-right">
						<select id="filter" name="filter">
							<option value="ALL">All</option>
							<option value="DAY">Day</option>
							<option value="WEEK">Week</option>
							<option value="MONTH">Month</option>
						</select>
					</div>
				</div>
				<!-- Messages body container -->
				<div class="panel-body tab-pane" scroll-glue-bottom>
					<div class="row" data-ng-repeat="message in messages">
						<div class="panel panel-margin panel-success"
							data-ng-class="{false: 'panel-success pull-left', true: 'panel-info pull-right'}[message.ownerId == userId]">
							<div class="panel-heading">
								<div class="name-margin">{{message.ownerName}}</div>
								<div data-ng-show="message.messageInviteStatus == null && message.ownerId == userId && !message.hidden">
									<div class="pull-right remove-margin"
										data-ng-click="deleteMessage(message.messageId)">
										<h6>remove</h6>
									</div>
									<div class=" pull-right edit-margin"
										data-ng-click="editMessage(message.messageId)">
										<h6>edit</h6>
									</div>
								</div>
							</div>
							<div class="panel-body">
								<div data-ng-class="{true: 'glyphicon glyphicon-trash'}[message.hidden]">{{message.text}}</div>
								<div id="invitation_message"
									data-ng-show="message.messageInviteStatus == 'INVITE' && message.ownerId != userId">
									<a class="btn btn-info" data-ng-click="acceptInvitation()">Accept</a>
									<a class="btn btn-info" data-ng-click="declineInvitation()">Decline</a>
								</div>
							</div>
							<div class="panel-footer">{{message.date}}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default" data-ng-show="chatId != 0">
				<div class="panel-heading text-center">Comment</div>
				<div class="panel-body">
					<textarea class="form-control" rows="5" data-ng-model="messageText"
						name="text" required></textarea>
				</div>
				<div class="panel-footer">
					<a class="btn btn-info pull-right" data-ng-click="sendMessage()">Send</a>
					
					<label class="col-sm-1 control-label">Public</label>
					<input type="checkbox" data-ng-model="publicMessage"
                        data-ng-false-value="false" data-ng-true-value="true" />
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Deleted message template -->
<div class="row" id="deletedMessageRow" style="display: none">
	<div class="panel panel-margin" id="message">
		<div class="panel-heading">
			<div class="name-margin" id="ownerName"></div>
		</div>
		<div class="panel-body">
			<div id="messageText">
				This message has been removed. <span
					class="glyphicon glyphicon-trash"></span>
			</div>
		</div>
		<div class="panel-footer" id="messageDate"></div>
	</div>
</div>
<!-- Chat template -->
<li class="list-group-item" id="chatRow" style="display: none"><span
	class="label label-default label-pill pull-right" id="chat_count"></span>
	<div id="chat_name"></div></li>